@import "../components/_input.scss";
@import "../base/variables.module.scss";

.datePicker{
    &__input_box{
        @extend .input;
        font-weight: 600;
        white-space: nowrap;
        cursor: pointer;
    }
    &__calendar_wrapper{
        position: absolute;
        background: $color-white-grey;
        z-index: 1;
        right: 5px;
        display: inline-table;
    }
}