@import "../base/variables.module.scss";

.form {
    width: 50%;
    margin: auto;
    display: block;
    background: #fff;
    
    color: $color-dark-grey;
    font-size: 18px;
    div{
        padding: 25px;
        display: flow-root;
    }
    .form__label_container{
        width: 100%;
        box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2);
    }
    
    &__input{
        width: 100%;
        margin: 20px;
        font-size: 18px;
        border: none;
        border-bottom-style: solid;
        border-bottom-color:$color-light-grey;
        border-bottom-width: 1px;
        color: $color-dark-grey;
        &:focus{
            outline: none; 
            transition: 0.5s;
            font-size: 15px;
            padding-bottom: 15px;
            border-bottom-color:$color-medium-orange;
            color: $color-dark-grey;
        }
        &:focus::placeholder{
            color: $color-medium-orange;
        }
        &:focus:visited{
            color: $color-dark-grey;
        }
    }
    &__label{
        width: 80%;
        display: block;
    }
    &__select{
        font-size: 18px;
        color: $color-dark-grey;
        font-size: 18px;
        color: #4c4c4c;
        border: none;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        cursor: pointer;
        &:focus{
            outline: none; 
            transition: 0.3s
        }
    }
    &__align_right{
        text-align: right;
    }
    &__button_save{
        background-color: $color-medium-orange;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
        font-size: 18px;
        color:$color-white;

        font-family: Roboto,sans-serif;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-size: 0.875rem;
        line-height: 2.25rem;
        font-weight: 500;
        letter-spacing: .0892857143em;
        text-decoration: none;
        text-transform: uppercase;
        --mdc-ripple-fg-size: 0;
        --mdc-ripple-left: 0;
        --mdc-ripple-top: 0;
        --mdc-ripple-fg-scale: 1;
        --mdc-ripple-fg-translate-end: 0;
        --mdc-ripple-fg-translate-start: 0;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        will-change: transform,opacity;
        padding: 0 8px;
        display: inline-flex;
        position: relative;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        min-width: 64px;
        height: 36px;
        border: none;
        outline: none;
        line-height: inherit;
        user-select: none;
        -webkit-appearance: none;
        overflow: hidden;
        vertical-align: middle;
        border-radius: 4px;
        cursor: pointer;

        float: right;

        &:hover{
            box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
            --mdc-ripple-fg-opacity: 0.32;
            filter: brightness(110%);
        }
    }

}

.form__container {
    width: 100%;
    vertical-align: middle;
}