//Isto é usado em algum lado?
.button{
    text-transform: uppercase;
    color: $color-dark-grey;
    font-size: 17px;
    font-weight: 600;
    &:hover{
        color: $color-light-grey;
    }    
}