@import "../base/variables.module.scss";

.container{
    padding: 3%;
    background-color: $color-white;
    &__title{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        flex-grow: 1;
        font-weight: 600;
        color: $color-medium-orange;
    }
    &__title_div{
        width: 60%;
        margin: auto;
    }
}